{% extends 'base.html' %}

<h1>{% block title %}About{% endblock %}</h1>

{% block header %}<h1>About Our Site</h1>{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/style.css">
<div>
  <div class="card" style="width: 100%; margin: auto;">
    <img src="../static/images/about.png" style="width:80%; height: 500px; margin: auto; box-shadow: none;"
      alt="main image">
  </div>
</div>

<!--Main card-->
<div class="mb-3" style="width: 50%; margin:auto; margin-top: 1%; padding: 3% 2%; border-radius: 20% 5%;">
    <h4>About Us</h4>
    <h5>Welcome to Our Store</h5>
    <p>We think fashion means more than just clothes. It's about showing who you are and feeling
      good about it. Our online store is a fun place where you can find lots of cool clothes that help you express
      yourself.</p>

    <h5>Our Story</h5>
    <p>We started our store because we love fashion and wanted to make it easy for everyone to find great
      clothes online. Our team knows a lot about fashion and wants to share that with you.</p>

    <h5>What We Have</h5>
    <p>We have a bunch of clothes for everyone. Whether you like fancy dresses or comfy jeans, we've got something
      you'll love. Here's what we offer:
      Cool Clothes
      Accessories</p>

    <h5>Why Pick Us?</h5>
    
    <ul>
      <li>Good Stuff: We make sure our clothes are made well and feel nice to wear. You'll love how they look and feel.
</li>
      <li>Fashionable Styles: We always have the latest styles and trends. You'll be the trendsetter among your friends!
      </li>
      <li>Helpful People: Our team is here to help you with anything you need. We want you to be happy with your
        clothes.</li>
      <li>Easy Shopping: Our website is easy to use, and you can pay safely. We'll get your order to you quickly, and if
        you need to return something, it's no problem.</li>

    </ul>
</div>
<!--End Of Main card-->
{% endblock %}